/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
    background-color: #142D52;
    background-image: url(../img/bgsquiggle.svg);
    background-size: 120%;
    background-attachment: fixed;
    background-position: center center;
    color:#ffffff;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin:0;
   }
   a{
    color: inherit;
    transition:300ms;
    
   }

   a:hover {
    color: #B7A0EA;
    text-decoration:none;
   }

   a.button {
    padding:.6em 1em;
    color:#ffffff;
    font-weight: bold;
    text-decoration: none;
    margin-top:.6em;
    margin-right:.6em;
    display: inline-block;
    border-radius:100px;
    border-width: 2px;
    border-style: solid;
   }
   

   a.button:hover {
    background:#ffffff!important;
    border-color: #ffffff!important;
    color:#142D52!important;
   }

   .logo {
    max-width:1000px;
    margin:0 auto;
    padding:0 2em;
  

   }

   .logo p {
    max-width: 400px;
    margin: 0 auto 3em auto;
    text-align: center;

   }

   .logo h4 {
    font-weight:200;
    letter-spacing:.2em;
    text-align: center;
    text-transform:uppercase;
    font-size: 30px;
    color:#E1F4E4;
    margin-top:0;
   }

   .logo h4 span{
    opacity:.3;
   }

   .logo img {
    width:100%;
    height:auto;
   }

   .event-items-wrapper {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin:250px auto 0 auto;
   }

   .event-item {
    width:50%;
    padding:2em;
    box-sizing: border-box;

   }


   .event-item:hover h3 {
    transform:scale(1.2)
   }

   .event-item:nth-child(odd) {
    margin-top:-200px;
    margin-bottom: 200px;
   }

   .event-item h3{
    font-weight: 100;
    font-size: 80px;
    color: #142D52;
    line-height: 100%;
    margin:0;
    font-variant-numeric: diagonal-fractions;
    background:#ffffff;
    width:100px;
    height:100px;
    display: block;
    padding:.15em .2em;
    margin-bottom:.2em;
    box-sizing: border-box;
    border-radius: 100%;
    transition: 300ms;
   }

    .event-item:nth-child(1) h3{
      background:#D6EA9F;
    }

    .event-item:nth-child(2) h3{
      background:#8BA6E7;
    }

    .event-item:nth-child(3) h3{
      background:#FCC6A7;
    }

    .event-item:nth-child(4) h3{
      background:#D6EA9F;
    }

    .event-item:nth-child(5) h3{
      background:#FA8DC8;
    }

    .event-item:nth-child(6) h3{
      background:#F5F5F5;
    }

    .event-item:nth-child(1) a{
      border-color:#D6EA9F;
      color:#D6EA9F;
    }

    .event-item:nth-child(2) a{
      border-color:#8BA6E7;
      color:#8BA6E7;
    }

    .event-item:nth-child(3) a{
      border-color:#FCC6A7;
      color:#FCC6A7;
    }

    .event-item:nth-child(4) a{
      border-color:#D6EA9F;
      color:#D6EA9F;
    }

    .event-item:nth-child(5) a{
      border-color:#FA8DC8;
      color:#FA8DC8;
    }

    .event-item:nth-child(6) a{
      border-color:#F5F5F5;
      color:#F5F5F5;
    }

   .event-item h4{
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin: 0;
   }

    .event-item h5, .conference-item h5 {
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    margin: 10px 0 0 0;
   }

   

   .event-item p, .logo p, .sponsors p{
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    opacity:80%;
   }

   .conference-section{
    background: #E1F4E4;
    color: #142D52;
    margin:20vw 0;
   }

   .conference-intro.event-item{
    margin-top: -10vw !important;
    margin-bottom:60px;
    width:100%;
    text-align: center;
    position: relative;
    z-index: 2;
      opacity: 1;
      padding-left:0;
      padding-right:0;
   }

   .conference-intro.event-item a{
    background:#0F2546;
    color:#ffffff
   }

   .conference-intro.event-item a:hover{
    background:#ffffff;
    color:#0F2546
   }

   .conference-intro.event-item h3{
    margin:0 auto;
    background:#0F2546;
    color: #E1F4E4;
   }

   .conference-intro.event-item h4{
    font-size:60px;
   }

   

   .semicircle-upper , .semicircle-lower {
    height:0px;
   }

   .semicircle-upper > img , .semicircle-lower > img {
    width:100%;
    height:auto;
   }

   .semicircle-upper > img{
    transform:translateY(-100%);
   }

    .semicircle-lower > img {
    transform:translateY(0%);
   }

   .conference-inner {
    max-width: 1024px;
    margin:0 auto;
    padding:0 2em;
   }

   .conference-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
   }

   .conference-item h4 {
      font-weight: 500;
      font-size: 72px;
      line-height: 86%;
      margin:.3em 0;
   }
   .conference-item h5 {
    font-weight: 300;
   }
    .conference-item:nth-child(odd) {
    flex-direction: row-reverse;
   }

   .conference-item--col-1, .conference-item--col-2 {
    width: 48%;
   }

   .conference-item--col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   .conference-item--col-1 > img {
    width: 100%;
    height:auto;
   }

   .sponsors{
    text-align: center;
    max-width: 800px;
    margin:40px auto;
    padding:2em;
   }

   .sponsors p{
    opacity:80%;
   }
   .nav{
    display: flex;
    justify-content: space-between;
        max-width: 1080px;
     margin:0 auto;
     align-items: center;
     padding:3em 3em 0 3em;
   }

   .nav a {
      font-weight: 700;
      font-size: 18px;
      padding:1em;
      text-decoration: none;
   }

   a.nav-button {
    padding:.6em 1em;
   }

   .adobe-logo{
    max-width:200px;
    height:auto;
   }
   .additional-logos {

   }
   .additional-logos img {
    max-width: 150px;
    margin:20px;
   }
   .aigalogo {
    width:20%;
    min-width: 150px;
   }
   .aigalogo img{
    width:100%;
    height:auto;
   }
   .navitems {

   }
   .navitems ul{
    list-style: none;
    margin:0;
    padding: 0;
   }
   .navitems ul li{
    display: inline-block;
   }
   
   
   .footer {
    background:#0F2546;
    font-weight:900;
    padding:3em 3em;
   }

   .footer p{
    margin:0;
    
   }

   .footer a{
    margin-right:1em;
    padding:1em 0;
   }

   .footer-wrap{
     display:flex;
     max-width: 1080px;
     margin:0 auto;
       justify-content: space-between;
   }

   .footer-logo img{
    max-width:200px;
    margin-bottom:3em;
   }

   .footer-logo{
    
   }

   .footercol-1 {
    margin:0 30px;
   }

   #mc_embed_shell {
    background:none;
    max-width: 360px;
    border-left: solid 1px rgba(255,255,255,.3);
    padding: 0 0 0 3em;
   }
   #mc_embed_signup {
    width:100%;
    
   }
   #mc_embed_signup_scroll h2{
    font-size: 24px;
    margin:0 0 .6em 0;
    line-height:100%;
    color:#B7A0EA;
   }
   .mc-field-group{
    width:100%;

   }

   .mc-field-group:nth-child(4){
width:48%;
margin-right:4%;
float:left;
   }
   .mc-field-group:nth-child(5){
width:48%;
float:left;
   }
   .indicates-required{
    font-weight: 500;
    margin-bottom: 1em;
   }

   #mc_embed_signup_scroll label{
    font-size: 16px;
    margin:0 0 1em 0;
    font-weight: 500;
   }
   .asterisk{
    color:#B7A0EA;
   }

   #mc_embed_signup_scroll input[type=text],#mc_embed_signup_scroll input[type=email]{
    width:100%;
    height:45px;
    font-size: 16px;
    text-indent: 1em;
    background:#b8a0ea31;
    border: none;
    margin:.5em 0;
    color:#ffffff
   }

   #mc-embedded-subscribe{
    width:100%;
    height:45px;
    font-size: 16px;
    background:#B7A0EA;
    border: none;
    margin:.5em 0;
    font-weight:800;
    transition: 300ms;
   }

   #mc-embedded-subscribe:hover{
    background:#ffffff;
    cursor: pointer;

   }


   #mc_embed_signup{}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

   @media (max-width: 800px) {
      .nav {
       display: block;
       padding:2em;
      }
      .aigalogo {
        width:20%;
        margin:0 auto;
      }

      #bm {
        margin-left: -40px;
        margin-right:-40px;
        margin-top: -30px;
      }
      
      .nav a {
        padding:.6em;

      }
      .nav ul {
        padding:2em 0;
        text-align: center;
      }
      .event-items-wrapper {
        display: block;
        margin-top:0;
      }
      .event-item {
        width:100%;
      }

      strong {
    font-weight: 900;
    }
      
      .event-item:nth-child(odd) {
    margin-top:0;
    margin-bottom:0;
    text-align: left;
   }
      .footer {
        text-align: left;
        padding: 3em 2em;
      }  
      .footer-wrap{
        display: block;
        padding: 0;
      }
      .footercol-1 {
       margin:2em 0px;
      }
      .footer-logo{
        max-width: 200px;
        
      }
      .sponsors{
        text-align: left;
      }
      #mc_embed_shell {
    background:none;
    max-width: 1000px;
    border-left: none;
    border-top: solid 1px rgba(255,255,255,.3);
    padding: 3em 0 0 0;
    margin-top: 3em;
   }

   .logo h4 {
    font-size: 20px;
    margin-top:0;
   }

    .conference-item {
    display: block;
    margin-bottom:30px;
   }

      .conference-item--col-1, .conference-item--col-2 {
    width: 100%;
   }
   
   .conference-item h4 {
    font-size: 50px;
    margin: 20px 0;
   }

   .conference-intro.event-item h4 {
font-size: 40px;
}

    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

